{% extends 'index.html' %}

{% block title %}Launch info{% endblock %}

{% block content %}
    <div style="padding: 20px;"></div>
    <div class="container-fluid">
        <div class="row justify-content-lg-center">
            <div class="col-lg-9 col-md-9">
                <h1><a id="section0">Панель просмотра запусков</a></h1>
                <div style="padding: 20px;"></div>

                <h3> Добавить запуск </h3>
{#                <button class="dropdown-divider">Добавить</button>#}
                <div style="padding: 20px;"></div>

                <div class="row justify-content-lg-between">
                    <div class="col col-lg-5 col-md-5">

                    </div>
                    <div class="col col-lg-5 col-md-5">non hz</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="anchors">
                    <h3>On this page</h3>
                    <hr>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#section0">Add launch</a>
{#                        <a class="nav-link" href="#section1">Launch info</a>#}
{#                        <a class="nav-link" href="#section3">Ballistics</a>#}
{#                        <a class="nav-link" href="#section2">Real-time monitor</a>#}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 20px;"></div>
{% endblock %}