{% extends 'index.html' %}

{% block title %}Common{% endblock %}

{% block content %}
    <div style="padding: 20px;"></div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col col-lg-3">
                    <h3>Links to other searches</h3>
                    <hr>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#section1">Launch info</a>
                        <a class="nav-link" href="#section3">Ballistics</a>
                        <a class="nav-link" href="#section2">Real-time monitor</a>
                    </nav>
                </div>
            <div class="col-lg-6">
                <h1><a id="section0">Привет, маленький гений :)</a></h1>
                Ты попал на web-приложуху для мощного мониторинга показателей вообще любого говна, какое только может
                твоя игрушка высерать. Вообще не факт, что она так умеет. <b>НО!</b> Если твой тостер с катушкой тесла
                может выдавать температуру подогрева
                колбасы или давления сфинктора (мб ты юзаешь MPU с ардуйнёй или другую поеоту), то поздравляю! Теперь ты
                можешь эти говно-параметры увидеть еще и здесь с
                фрэндли интерфейсом. Справа ты увидишь ссылки на описание вкладок и что они собой представляют. Ну чисто
                по-братски для удобства сделал.<br>
                <div style="padding: 4px;"></div>
                Так же есть маленький факинг-фак. Смысл в том, что, как ты уже догадался, некоторые вкладки могут не
                совсем подходить для твоих задач. Например, "Ballistics".
                Мне как ракето-строителю окэй, так как здесь инфа со всякими графиками, говнограммами и т.д. тупо по
                баллистике, поэтому мега важно. Тебе же эта инфа не факт,
                что пригодится. Когда-нибудь я сделаю всё более универсально, но так как лично мне это не нужно и это
                все-таки пэт-проект, то "когда-нибудь" превращается в "блин, я хз".
                Поэтому рекомендую тебе юзать вкладки общего назначения(они при наведении курсора мыши будут
                подсказываться), а также не использовать мобилу, т.к. под
                сенсорные экраны я пока не могу сделать в силу недостатка <span style="text-decoration: line-through;">желания</span>
                времени. Пока ждем релиз с фиксом)<br>
                <div style="padding: 4px;"></div>
                Как уже стало понятно, мой проект - это строительство ракеты с именем WR (Wasley rocket). Цель этого
                всего движения - сделать что-то, что даст моему мозгу дикое кол-во
                эндорфинов, а также просто захерачить что-то интересное. Подробнее про это дело есть в <a href="#"
                                                                                                          target="_blank" >статье
                на хабре</a>.
                <div style="padding: 20px;"></div>
                <h3>
                    <li><a id="section1">Launch info</a></li>
                </h3>
                <div style="padding: 4px;"></div>
                В этой вкладке записана вся информация о уже проведенных запусках. Интерфейс нативно понятен. Что
                куда тыкать тоже (просто перевести кнопочки с английского). Сами данные берутся
                из БД на нашем серваке для каждого пользователя. В принципе это просто метаинформация.
                <div style="padding: 20px;"></div>
                <h3>
                    <li><a id="section3">Ballistics</a></li>
                </h3>
                <div style="padding: 4px;"></div>
                Вкладка, которая несколько дублирует вкладку "Real-time monitor" в части баллистических
                параметров.
                Нужно это все для того, чтобы точнее определить разного рода баллистические коэффициенты и
                построить графики движения: скорости, высоты, сил, т.д.
                По-хорошему, это можно было бы засунуть в вкладку "Real-time monitor", но я не захотел
                захламлять. Если я рассчитываю на развитие в сторону универсальности, то лучше пока сделать так.
                Здесь все тоже нативно понятно. Сильно заострять внимание не нужно. Добавлю только то, что на
                этой вкладке будет отдельная таблица бд, где будет ссылка на бд, с историей запусков.
                <div style="padding: 20px;"></div>
                <h3>
                    <li><a id="section2">Real-time monitor</a></li>
                </h3>
                <div style="padding: 4px;"></div>
                Ухххх. Тут все намного интересней. То самое зачем и пришли. Здесь будет в реальном времени
                проводится мониторинг
                данных. Самое основное на примере моей ракеты:<br>
                <ul>
                    <li>Температура, давление, влажность и все то, что записывает MPU (вроде это и было все, что она
                        записывает)
                    </li>
                    <li>Данные о ориентации в пространстве и характере движения: гироскоп и акселерометр</li>
                    <li>Данные о положении в пространстве (конкретно высота и отклонение от точки старта по
                        горизонтали)
                    </li>
                    <li>Данные с GPS</li>
                    <li>Данные о самой системе (напряжение батарей, состояние парашюта и т.п.)</li>
                    <li>Ну и параметры атмосферы, которые можно взять из гостов</li>
                    <li>Так же можно целевые параметры, которые будут определены в миссии/цели запуска ракеты</li>
                </ul>

            </div>
            <div class="col col-lg-2">
                <div class="anchors">
                    <h3>On this page</h3>
                    <hr>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#section0">Common</a>
                        <a class="nav-link" href="#section1">Launch info</a>
                        <a class="nav-link" href="#section3">Ballistics</a>
                        <a class="nav-link" href="#section2">Real-time monitor</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 20px;"></div>
{% endblock %}