<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'common/img/icon.png' %}">

    <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/common-style.css' %}">

    <script src="{% static 'common/js/popper.min.js' %}" async></script>
    <script src="{% static 'common/js/bootstrap.min.js' %}" defer></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 tooltip-demo">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url "common:common" %}>WR-monitor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href={% url "launches:launch" %} data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="Optional parameter">Launch info</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="Optional parameter">Ballistics</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-bs-title="Mandatory parameter">Real-time monitor</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
                   aria-label="WebMonitor">
                    <span class="fs-5">WebMonitor</span>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2">Designed and built with all the love in the world by the <a
                            href="https://www.instagram.com/kikijuly3/?next=%2F" target="_blank">Kikijuly</a>.
                    </li>
                    <li class="mb-2">Currently v1.0.0</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>HZ</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="" target="_blank" rel="noopener">Swag
                        Store</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>HZ</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="">HZ</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>HZ</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="" target="_blank" rel="noopener">HZ
                        5</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>HZ</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="" target="_blank" rel="noopener">HZ</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>